{% block eztinymcehtmlblock_field_definition_edit %}
    <div class="eztext-settings text-rows{% if group_class is not empty %} {{ group_class }}{% endif %}">
    {{- form_row(form.textRows, {'label_attr': {'class': 'ez-label'}}) -}}
    </div>
{% endblock %}
